<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8889c590-0120-489d-a7f4-d017f92658b7/resourcegroups/MyThingsToDo/providers/Microsoft.Web/sites/MyThingsToDo</ResourceId>
    <ResourceGroup>MyThingsToDo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mythingstodo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mythingstodo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyThingsToDo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>garykhong</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ToDos.Models.ApplicationDbContext, ToDos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ToDoDBContext" Order="2" Enabled="True">
          <Destination Path="Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ToDos.Models.ToDoDBContext, ToDos" MigrationConfiguration="ToDos.Migrations.Configuration, ToDos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ToDoDBContext-Web.config Connection String">
      <ParameterValue>Data Source=mythingstodo.database.windows.net;Initial Catalog=MyThingsToDo;Persist Security Info=True;User ID=garykhong;Password=2w33k$print</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>