@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This application is for individuals who find it hard to keep track of all the items that have to be done everyday.
    Things change all the time.  This is an application that will give you some control on what you should be focusing on.</p>
